.rodape {
    margin-top: 150px;
    display: flex;
    justify-content: center !important;
    text-align: center !important;
    align-content: center;
}

.rodapeTexto {
    color: white !important;
}

.logosContato {
    width: 3rem;
    padding-left: 10px;
    padding-right: 10px;
    filter: grayscale(1);
}
.logosContato:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .rodape {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .logosContato {
        filter: grayscale(0);
    }

}