.tituloTecnologias {
    display: flex;
    justify-content: center !important;
    text-align: center !important;
    padding-top: 5rem;
}

.colImagensTecnologias {
    display: flex;
    justify-content: center !important;
    text-align: center !important;
    padding-top: 4rem;
    flex-wrap: wrap;
    gap: 5rem;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 10vw;

}

.tecnologiasTitulo {
    color: white !important;
}

.nomeTecnologia{
    padding: 1vh !important;
    font-weight: bold;
    color: yellow !important;
}

.logosTecnologias {
    width: 6rem;
    filter: grayscale(1);
    transition: transform 200ms ease-in-out;
}

.icon-field p {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.icon-field:hover p {
    opacity: 1;
}

.icon-field:hover {
    .logosTecnologias {
        filter: grayscale(0);
        transform: scale(1.1);
    }
}


@media (max-width: 690px) {
    .logosTecnologias {
        filter: grayscale(0);
        width: 4rem;
    }
}

@media (max-width: 2507px) {
    .logosTecnologias {
        width: 3.5rem;
    }

    .colImagensTecnologias {
        gap: 3rem;
    }
}