p{
    color: white !important;
    font-size: 1rem;
}

.colSobre{
    display: flex;
    justify-content: center !important;
    padding: 4vh 15vw 0 15vw;
    text-align: justify;
}
.sobre{
    color: white !important;
}